@import url(./Reset.scss);

:root {

    // COLOR
    --color-black: #000;
    --color-white: #FFF;
    --color-blue-1: #101E26;
    --color-blue-2: #166273;
    --color-blue-3: #378C8C;
    --color-blue-4: #84A9BF;
    --color-blue-5: #BDD9F2;

    --color-warning: #CC3300;
    --color-warning-hover: #791e00;

    // TEXT
    --font-size-1: 60px;
    --font-size-1-mobile: 35px;
    --font-size-2: 60px;
    --font-size-2-mobile: 20px;
    --font-size-3: 32px;
    --font-size-4: 24px;
    --font-size-5: 20px;
    --font-size-6: 18px;
    --font-size-7: 16px;
    --font-size-8: 14px;
    --font-size-9: 12px;

    --font-weight-1: 400;
    --font-weight-2: 500;
    --font-weight-3: 700;

}

html {
    background-color: var(--color-black);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-white);

    input {
        background-color: var(--color-blue-3);
        height: 78px;
        padding: 1.625rem;
        box-sizing: border-box;
        border: none;
        border-radius: 6px;
        font-family: 'Oswald', sans-serif;
        font-size: 21px;
        font-weight: var(--font-weight-1);
    }

    input::placeholder {
        color: var(--color-blue-1);
    }

    input:focus {
        background-color: var(--color-blue-2);
    }
}