.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    margin: 0 auto;
    padding: 0 5%;
    background-color: var(--color-blue-4);

    .btn__home {
        color: var(--color-blue-1);
        font-size: clamp(var(--font-size-2-mobile), var(--font-size-2-mobile) + 1vw, var(--font-size-1-mobile));
        font-weight: var(--font-weight-3);
        padding: 0.5rem 0.3rem;
        border-radius: 6px;
    }

    .btn__home:hover {
        color: var(--color-blue-1);
        background-color: var(--color-blue-3);
        cursor: pointer;
    }

    div {
        display: flex;
        gap: 0.5rem;

        button {
            border: none;
            padding: .4rem 0.8rem;
            border-radius: 3px;
            font-size: var(--font-size-8);
            font-weight: var(--font-weight-2);
            font-family: 'Roboto', sans-serif;
            background-color: var(--color-blue-3);
            color: var(--color-blue-1);
        }

        button:hover {
            background-color: var(--color-blue-2);
            color: var(--color-blue-1);
            cursor: pointer;
        }
    }
}