.body__container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blue-5);

    .title__2 {
        font-size: var(--font-size-1-mobile);
        font-weight: var(--font-weight-2);
        text-align: center;
    }
}